# Production Caddyfile
{$DOMAIN_NAME:domain.invalid} {
    reverse_proxy frontend:80  # Forward requests to Jenkins container
}
jenkins.{$DOMAIN_NAME:domain.invalid} {
    reverse_proxy jenkins:8080  # Forward requests to Jenkins container
}
